version: '3.8'

services:
  mongodb-rs0-p:
    image: mongo:6
    container_name: mongodb-rs0-p
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs0 --keyFile /mongo_keyfile --port 28018"
    volumes:
      - mongodb_primary_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs0-s1:
    image: mongo:6
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs0 --keyFile /mongo_keyfile --port 28019"
    volumes:
      - mongodb_secondary1_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs0-s2:
    image: mongo:6
    container_name: mongodb-secondary2
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs0 --keyFile /mongo_keyfile --port 28020"
    volumes:
      - mongodb_secondary2_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"


  mongodb-rs1-p:
    image: mongo:6
    container_name: mongodb-rs0-p
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs1 --keyFile /mongo_keyfile --port 28021"
    volumes:
      - mongodb_primary_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs1-s1:
    image: mongo:6
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs1 --keyFile /mongo_keyfile --port 28022"
    volumes:
      - mongodb_secondary1_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"

  mongodb-rs1-s2:
    image: mongo:6
    container_name: mongodb-secondary2
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    entrypoint:
      - bash
      - -c
      - |
        cp /keyfile /mongo_keyfile
        chmod 400 /mongo_keyfile
        chown 999:999 /mongo_keyfile
        exec docker-entrypoint.sh $$@
    command: "mongod --bind_ip_all --replSet rs1 --keyFile /mongo_keyfile --port 28023"
    volumes:
      - mongodb_secondary2_data:/data/db
      - ./keyfile:/keyfile
    network_mode: "host"


volumes:
  mongodb_primary_data:
  mongodb_secondary1_data:
  mongodb_secondary2_data:

networks:
  messaging-network:
    driver: bridge

